@import 'parameters.scss';

/* latin */
@font-face {
  font-family: 'La Belle Aurore';
  font-style: normal;
  font-weight: 400;
  src: local('La Belle Aurore'), local('LaBelleAurore'),
    url(https://fonts.gstatic.com/s/labelleaurore/v10/RrQIbot8-mNYKnGNDkWlocovHeI4HO2E.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  min-height: 100%;
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#page {
  width: 100%;
  height: 100%;
}

$tags-margin: 5%;

.top-tags {
  top: $tags-margin;
}

.bottom-tags {
  bottom: $tags-margin;
}

.b-5 {
  bottom: 3rem;
}

$sidebarSize: 60px;

.tags {
  color: #515152;
  position: absolute;
  left: 2em;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
}

@media (max-width: 768px) {
  .sidebar {
    .logo-container {
      height: 80px;
      padding-left: 1em;

      .mobile-menu {
        font-size: 40px;
        color: #fff;
        float: right;
        margin: 10px 20px 10px 10px;
        display: block;
        padding-right: 1em;
      }
    }

    //height: 10em;
    width: 100em;
    background: black;

    .logo {
      height: 60px;
      width: 40px;
      float: left;
      padding: 6px;
    }
  }
  .is-menu-opened {
    left: 0% !important;
  }

  .nav-bar-menu {
    left: 100%;
    z-index: 999;
  }

  .navbar {
    position: fixed;
    top: 5em;
    width: 100%;
    padding: 0;
    background-color: black;
    left: 100%;

    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
    }

    // .nav-item {
    //   width: 25vw;
    // }

    ul {
      flex-direction: row !important;

      svg {
        min-height: 2.125em;
        min-width: 2.125em;
      }
    }
  }
}

a.active {
  color: $logoMainColor !important;
}

.logo-text {
  color: white;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  .sidebar {
    background: #181818;
    position: fixed;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    width: $sidebarSize;
    height: 100%;

    .navbar {
      padding: 0;
      display: block;
      top: 20%;
      text-align: center;

      a {
        font-size: 22px;
        color: #4d4d4e;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        text-decoration: none;

        .title-text {
          font-weight: bold;
          font-size: 75%;
          text-align: center;
          color: $logoMainColor;
        }
      }

      .nav-link {
        padding: 0;
      }
    }

    .logo {
      background: #070707;
      display: block;
      padding: 10px 15px;
    }
  }

  .main-container {
    padding-left: $sidebarSize;
  }

  .navbar {
    padding: 0;
  }
}

.pt-40 {
  padding-top: 40vh;
}

.fill {
  min-height: 100%;
  height: 100%;
}
.email-link {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

.loading-container {
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  span {
    color: #8d8d8d;
    margin-top: 9px;
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 30px;
    display: block;
  }

  .progress-loading-bar-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    .progress-bar {
      height: 1px;
    }
  }
}

.main-text-zone {
  margin-left: 5%;

  h1 {
    font-size: 5.5vh;
    font-weight: 700;

    span {
      opacity: 0;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-iteration-count: 100;
      transition: all 0.3s ease-out;
    }
    .is-hovered {
      color: $logoMainColor;
      cursor: default;
      animation-name: rubberBand;
      display: inline-block;
      animation-iteration-count: 1;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 10px;
    font-weight: 400;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
  }

  .contact-me-button {
    background-color: transparent;

    &:hover {
      background-color: $logoMainColor;
    }
  }
}
