/* latin */
@font-face {
  font-family: 'La Belle Aurore';
  font-style: normal;
  font-weight: 400;
  src: local('La Belle Aurore'), local('LaBelleAurore'),
    url(https://fonts.gstatic.com/s/labelleaurore/v10/RrQIbot8-mNYKnGNDkWlocovHeI4HO2E.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  min-height: 100%;
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#page {
  width: 100%;
  height: 100%;
}

// .sidebar-nav{
//   min-height: 500px;
// }

$tags-margin: 5%;

.top-tags {
  top: $tags-margin;
}

.bottom-tags {
  bottom: $tags-margin;
}

@media (min-width: 768px) {
  $sidebarSize: 60px;

  .sidebar {
    background: #181818;
    position: fixed;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    width: $sidebarSize;
    height: 100%;

    .navbar {
      padding: 0;
      display: block;
      top: 42%;
      text-align: center;
    }

    .logo {
      background: #070707;
      display: block;
      padding: 10px 15px;
    }
  }

  .tags {
    color: #515152;
    position: fixed;
    left: $sidebarSize + 20;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;
  }

  .main-container {
    margin-left: $sidebarSize;
  }

  .navbar {
    padding: 0;
  }
}

.pt-40 {
  padding-top: 40vh;
}

.fill {
  min-height: 100%;
  height: 100%;
}
